apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: client
  name: client-deployment
  namespace: socialbeats
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client-pod
  template:
    metadata:
      labels:
        app: client-pod
    spec:
      containers:
        - name: space-client
          image: socialbeats/space-client:1.0.1
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: client-config
      restartPolicy: Always
