apiVersion: v1
kind: ConfigMap
metadata:
  name: space-nginx-config
  namespace: socialbeats
data:
  default.conf: |
    server {
        listen 5403;

        # location / {
        #     proxy_pass http://space-client:5050;
        #     proxy_set_header Host $host;
        #     proxy_set_header X-Real-IP $remote_addr;
        #     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        #     proxy_set_header X-Forwarded-Proto $scheme;
        # }

        location /socialbeats-space {
            alias /usr/share/nginx/html;
            try_files $uri $uri/ /socialbeats-space/index.html;
        }

        # location /assets/ {
        #     proxy_pass http://space-client:5050/assets/;
        #     proxy_set_header Host $host;
        #     proxy_set_header X-Real-IP $remote_addr;
        #     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        #     proxy_set_header X-Forwarded-Proto $scheme;
        # }

        # location /favicon/ {
        #     proxy_pass http://space-client:5050/favicon/;
        #     proxy_set_header Host $host;
        #     proxy_set_header X-Real-IP $remote_addr;
        #     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        #     proxy_set_header X-Forwarded-Proto $scheme;
        # }
    }

