apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis-api-gateway
  namespace: socialbeats
spec:
  serviceName: redis-api-gateway
  replicas: 1
  selector:
    matchLabels:
      app: redis-api-gateway
  template:
    metadata:
      labels:
        app: redis-api-gateway
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          args: ["redis-server", "--appendonly", "yes"]
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-api-gateway-secret
                  key: REDIS_PASSWORD
          volumeMounts:
            - name: redis-data
              mountPath: /data
  volumeClaimTemplates:
    - metadata:
        name: redis-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
