apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo-beats-interaction
  namespace: socialbeats
  labels:
    app: mongo-beats-interaction
spec:
  serviceName: "mongo-beats-interaction"
  replicas: 1
  selector:
    matchLabels:
      app: mongo-beats-interaction
  template:
    metadata:
      labels:
        app: mongo-beats-interaction
    spec:
      containers:
      - name: mongodb
        image: mongo:7.0
        command: ["mongod", "--wiredTigerCacheSizeGB", "0.25"]
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-beats-interaction-secret
              key: MONGO_INITDB_ROOT_USERNAME
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-beats-interaction-secret
              key: MONGO_INITDB_ROOT_PASSWORD
        volumeMounts:
        - name: mongo-data
          mountPath: /data/db
  volumeClaimTemplates:
  - metadata:
      name: mongo-data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 2Gi
