apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: space-backend-ingress
  namespace: socialbeats
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - space.socialbeats.es
      secretName: space-backend-tls-secret
  rules:
    - host: space.socialbeats.es
      http:
        paths:
          - path: /api(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: server-service
                port:
                  number: 3000
