apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: beats-interaction-redis
  namespace: socialbeats
  labels:
    app: beats-interaction-redis
spec:
  serviceName: "beats-interaction-redis"
  replicas: 1
  selector:
    matchLabels:
      app: beats-interaction-redis
  template:
    metadata:
      labels:
        app: beats-interaction-redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
          - containerPort: 6379
        env:
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: beats-interaction-redis-secret
                key: REDIS_PASSWORD
        # To enable redis auth, descomment the following line
        # args: ["--requirepass", "$(REDIS_PASSWORD)"]
        volumeMounts:
          - name: redis-data
            mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 1Gi
