apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: payments-and-suscription-hpa
  namespace: socialbeats
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: payments-and-suscription
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
