apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: social-hpa
  namespace: socialbeats
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: social
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
