apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongo-social
spec:
  serviceName: mongo-social
  replicas: 1
  selector:
    matchLabels:
      app: mongo-social
  template:
    metadata:
      labels:
        app: mongo-social
    spec:
      containers:
        - name: mongo
          image: mongo:latest
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-social-secret
                  key: MONGOADMIN
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-social-secret
                  key: MONGOPASS
          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
  volumeClaimTemplates:
    - metadata:
        name: mongo-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 2Gi
